<mat-spinner *ngIf="estaCarregando"></mat-spinner>
<mat-accordion *ngIf='collection.length > 0 && !estaCarregando'>

  <mat-expansion-panel *ngFor='let livro of collection'>

    <mat-expansion-panel-header>{{livro.titulo}}</mat-expansion-panel-header>
    <div class="livro-imagem">
      <img [src]="livro.imagemURL" [alt]="livro.nome">
    </div>
    <p>Autor: {{livro.autor}}</p>
    <p>n° de identificação:{{livro.id}}</p>
    <p>n° de paginas:{{livro.npaginas}}</p>

    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/editar', livro.id]">EDITAR</a>
      <button mat-button color="warn" (click)="onDelete(livro.id)">REMOVER</button>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>
<mat-paginator
*ngIf="collection.length > 0"
[length]="totalDeLivros"
[pageSize]="totalDeLivrosPorPagina"
[pageSizeOptions]="opcoesTotalDeLivrosPorPagina"
(page)="onPaginaAlterada($event)"
></mat-paginator>

<p class="mat-body" *ngIf='collection.length<=0 && !estaCarregando'>Não há livros cadastrados!</p>
