mat-card {
  width: 90%;
  margin: 10px auto;
  display: block;
}
  mat-toolbar a{
  color:black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.separador{
  flex: 1;
}
ul
{
  display: flex;
}
