<mat-card>
  <h2>Cadastre um novo livro</h2>

  <mat-spinner *ngIf="estaCarregando"></mat-spinner>
  <form [formGroup]="form" (submit)="OnSalvarLivro()" *ngIf="!estaCarregando">

    <!-- <mat-form-field>
      <mat-label for="">N° De Identificação :</mat-label>
      <input type="text" required matInput name="id">
    </mat-form-field> -->
    <!-- <mat-error *ngIf="id.invalid">Digite um id válido de 4 digitos</mat-error> -->

    <div>
      <button mat-stroked-button type="button" (click)="selecionaArquivo.click()">Selecionar Imagem</button>
      <input type="file" (change)="onImagemSelecionada($event)" #selecionaArquivo>
     </div>
     <div class="imagem-preview">
     <img [src]="previewImagem" *ngIf="previewImagem && previewImagem !== '' && form.get('imagem').valid"
      [alt]="form.value.nome">
    </div>

    <mat-form-field>
      <mat-label for="">Titulo :</mat-label>
      <input type="text" required matInput formControlName="titulo" name="titulo">
    </mat-form-field>
    <!-- <mat-error *ngIf="titulo.invalid">Digite um titulo válido</mat-error> -->

    <mat-form-field>
      <mat-label for="">Autor :</mat-label>
      <input type="text" required matInput formControlName="autor" name="autor">
    </mat-form-field>
    <!-- <mat-error *ngIf="autor.invalid">Digite um nome válido</mat-error> -->

    <mat-form-field>
      <mat-label for="">N° De Paginas :</mat-label>
      <input type="text" required matInput formControlName="npaginas" name="npaginas">
    </mat-form-field>
    <!-- <mat-error *ngIf="npaginas.invalid">Digite um numero válido</mat-error> -->

    <button color='accent' mat-raised-button>Salvar livro</button>

  </form>

</mat-card>
